.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid red;
}
.Nav-items ul{
    display: flex;
    list-style: none;
}
.Nav-items ul li{
    padding: 10px;
}
.Restaurant-Card{
    width: 150px;
    height: 250px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;   
    align-items: center;
   padding: 10px;
   margin: 10px;
}
.Restaurant-Card img{
    width: 100%;
}
.cards{
    display: flex;
}